@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700');

@reset-global pc; /* stylelint-disable-line */

html {
  height: 100%;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
  font-family: Roboto;
  width: 100vw;
  overflow-x: hidden;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  background-color: #eee;
}

#root {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}
